@import "tailwindcss";

input.empty-datetime-input::-webkit-datetime-edit {
  color: transparent;
}

input.empty-datetime-input::-webkit-datetime-edit-fields-wrapper,
input.empty-datetime-input::-webkit-datetime-edit-text,
input.empty-datetime-input::-webkit-datetime-edit-month-field,
input.empty-datetime-input::-webkit-datetime-edit-day-field,
input.empty-datetime-input::-webkit-datetime-edit-year-field,
input.empty-datetime-input::-webkit-datetime-edit-hour-field,
input.empty-datetime-input::-webkit-datetime-edit-minute-field,
input.empty-datetime-input::-webkit-datetime-edit-ampm-field {
  color: transparent;
}

input.date-time-picker-input {
  cursor: pointer;
}

input.date-time-picker-input:disabled {
  cursor: default;
}

input.date-time-picker-input::-webkit-calendar-picker-indicator {
  display: none;
  pointer-events: none;
}
